h1 {
    color:#12ff33;
    display:inline;
}

p {
    color:#ff0507;
     display:inline;

}

.banner {
    width:1329px;
}

div.banner {
    position:absolute;
    top:104px;
    margin:4px;
}

header {
    background-color:#fad089;
    padding:48px;
}


nav li {
    display:inline;
    padding:20px;
    background-color:#ff9c58;
    border-style:solid;
    border-color:#ff9c58;
    border-radius:6px 6px 0px 0px;
}    


nav li a {
    color:#ffffff;
}

#logo {
    float:left;
}

li a {
    text-decoration:none;
    text-transform:uppercase;
}

main {
    display:inline;
    top:400px;
}

