/*GLOBAL STYLES*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#efefef;
    font-family:'helvetica ms', helvetica, sans-serif;
    color:#ffffff;
    font-size:18px;
    font-weight:500;
}

h1, h2, h3, h4, h5, h6 {
    margin:0px;
    padding:0px;
    color:#f5634a; /*redCreamsicle*/
}

p {
    line-height:130%;
    color:#ff9c58; /*orangeCreamsicle*/
}


/*HEADER STYLES*/



/*BANNER STYLES*/



/*FOOTER STYLES*/